.create_post{
    display: flex;
    gap: 1rem;
}

.post{
    border: none;
    background-color: rgb(155, 47, 189);
    color: white;
    border-radius: 3px;
    padding: 0.4rem;
}

.browse_photo{
    display: flex;
    flex-direction: column;
    
}

.create_post{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.browse_img{
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}