.posts{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    /* grid-template-columns: repeat(auto-fit, 280px); */
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.greeting{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}