.savedpost{
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    padding: 1rem;
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty img{
    height: auto;
    width: 300px;
}