.login{
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
   
}

.heading{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.login_img img{
    height: 500px;
}

.login_details{
    border: 1px solid rgb(156, 154, 154);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
}

.login_details input{
    width: 100%;
    padding: 0.5rem;
    background-color: #fafafa;
    outline: none;
    border: 1px solid rgb(156, 154, 154);
    border-radius: 6px;
}

.btn{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(76, 181, 249);
    color: white;
    border: none;
    margin-bottom: 1rem;
    min-width: 300px;
    border-radius: 10px;
}

.forget{
    text-align: center;
    font-size: 0.8rem;
    color: rgb(76, 181, 249);
}

.oauth {
    display: flex;
    gap: 4rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    border: 1px solid rgb(156, 154, 154);
    border-radius: 10px;
}

.google {
    display: flex;
    font-size: 1rem;
    color: #858585;
    gap: 0.75rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}


.other_method p{
    text-align: center;
}

.note{
    text-align: center;
    font-style: italic;
}

@media (max-width: 768px){
    .login_img{
        display: none;
    }
}